*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --black: #000000;
  --dark-blue: #14213d;
  --yellow: #b3cfdd;
  --light-grey: #e5e5e5;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  font-family: 'Fraunces', serif;
}

h1 {
  font-size: 5rem;
  color: var(--white);
  margin-bottom: 1rem;
}

.container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

main {
  margin-bottom: 6rem;
}

a {
  color: var(--black);
}

a:hover {
  color: var(--yellow);
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  padding-bottom: 1.2rem;
}

/* -------------------------
----- Header style ---------
--------------------------*/

header {
  background: var(--yellow);
  padding: 6rem;
}

header .container {
  align-items: center;
}

header img {
  width: 22rem;
  border-radius: 50%;
  margin-right: 10rem;
}

header h2 {
  color: var(--white);
  margin-top: 0;
}

/* -------------------------
----- Sidebar styles -------
--------------------------*/
.sidebar {
  padding: 2rem 1.5rem 2rem 1rem;
}

.sidebar div {
  margin-bottom: 3rem;
}

.sidebar h3:after {
  content: "";
  display: block;
  width: 47%;
  border-bottom: 7px solid var(--light-grey);
}

.icon {
  width: 1.8rem;
  margin-right: 1.6rem;
  filter: invert(99%) sepia(3%) saturate(7300%) hue-rotate(171deg) brightness(92%) contrast(89%);
}

.sidebar p,
.sidebar li {
  font-size: 1.5rem;
}

.sidebar p:last-of-type {
  padding-right: 1rem;
}

.dot {
  height: 1rem;
  width: 1rem;
  background-color: var(--yellow);
  border-radius: 50%;
  display: inline-block;
  margin-right: .5rem;
}

.dot-empty {
  background-color: var(--light-grey);
}

.dots {
  margin: 0;
  padding: 0;
}

.dots-2 {
  margin-bottom: 0;
}

/* -------------------------
------- CV styles ----------
--------------------------*/

.cv {
  background: var(--light-grey);
  padding: 2rem 4rem;
}

.cv h2 {
  margin-top: 4rem;
}

.cv h2:after {
  content: "";
  display: block;
  width: 24%;
  border-bottom: 7px solid var(--yellow);
}

.cv h4 {
  margin-bottom: 1rem;
}

.date,
.location {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 0;
  margin-top: .2rem;
}

.refes {
  display: flex;
  justify-content: space-between;
}

.references p {
  font-weight: 600;
  margin: 0;
  margin-bottom: 0;
}

.references .phone {
  font-size: 1.4rem;
  font-weight: 300;
}

/* -------------------------
----- Tablet styles --------
--------------------------*/

@media screen and (max-width: 890px) {
  
  h1 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.3rem;
  }
  
  header img {
    width: 16rem;
    margin-right: 6rem;
  }

  header h2 {
    font-size: 2.2rem;
  }

  .sidebar h3 {
    font-size: 1.5rem;
  }

  .sidebar p,
  .sidebar li {
    font-size: 1.2rem;
  }

  .icon {
    width: 1.2rem;
    margin-right: 1.2rem;
  }

  .cv h2 {
    font-size: 2.2rem;
  }

  .cv h2:after {
    width: 28%;
  }

  .cv h4 {
    font-size: 1.5rem;
  }
}

/* -------------------------
----- Mobile styles --------
--------------------------*/

@media screen and (max-width: 680px) {
 .container {
   flex-direction: column;
 }

 .column-reverse {
   flex-direction: column-reverse;
 }

 header img {
  width: 20rem;
   margin-right: 0;
 }

 h1 {
   text-align: center;
 }

 p {
   font-size: 1.5rem;
 }

 header h2 {
   text-align: center;
 }

 .cv,
 .sidebar {
  padding: 2rem 3rem;
 }

 .cv h2:after {
  width: 40%;
}

.cv h4 {
  font-size: 1.8rem;
}

.refes {
  flex-direction: column;
}

.refes div {
  margin-bottom: 2rem;
}

.sidebar h3 {
  font-size: 1.8rem;
}

.sidebar p,
.sidebar ul li {
  font-size: 1.5rem;
}

}